<app-nav-bar></app-nav-bar>
<div *ngIf="!isLoading" class="container">
    <div class="container-wrapper">
        <mat-card-header>
            <h1>Acontecendo agora no Brasileirão</h1>
            <app-search-bar (searchedFixture)="searchedFixture($event)"></app-search-bar>
        </mat-card-header>
        <mat-card *ngFor="let fixture of fixtures;let i = index;trackBy:identify">
            <mat-card-content>
                <div class="teams-data flex-display">
                    <div class="home-team">
                        <img src="{{fixture.time_mandante.escudo}}" alt="">
                        <h1>{{ fixture.time_mandante.nome_popular }}</h1>
                    </div>
                    <div class="guest-team">
                        <img src="{{fixture.time_visitante.escudo}}" alt="">
                        <h1>{{ fixture.time_visitante.nome_popular }}</h1>
                    </div>
                </div>
                <app-statistics-graph [statisticsData]="statisticsData"></app-statistics-graph>
                <div *ngIf="!voted[i]" class="vote-header">
                    <h1>Quem vai ganhar?</h1>
                </div>
                <div *ngIf="!voted[i]" class="vote-button-wrapper">
                    <div class="vote-home-team" (click)="voted[i] = true; vote(0, fixture.partida_id, i)">{{
                        fixture.time_mandante.nome_popular }}</div>
                    <div class="vote-draw" (click)="voted[i] = true; vote(1, fixture.partida_id, i)">Empate</div>
                    <div class="vote-visitor" (click)="voted[i] = true; vote(2, fixture.partida_id, i)">{{
                        fixture.time_visitante.nome_popular }}</div>
                </div>
            </mat-card-content>
            <div *ngIf="voted[i]" class="votes-amount">
                {{ fixture.number_of_votes + ' torcedores votaram nessa partida'}}
            </div>
        </mat-card>
    </div>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>