.content-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    padding: 5px 13px;
}

p{
    margin: 0 10px;
}