<div class="container">
    <div class="container-wrapper">
        <div class="logo">
            <h1 routerLink="/home">
                betYou
            </h1>
        </div>
        <nav>
            <ul>
                <li routerLink="/home">Home</li>
                <li>Sobre</li>
                <li routerLink="/login" *ngIf="!isLoggedIn">Entrar</li>
                <li *ngIf="isLoggedIn" [matMenuTriggerFor]="menu">Sair</li>
            </ul>
        </nav>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
        </button>
    </mat-menu>
</div>