<!-- <canvas #myCanvas></canvas> -->
<div class="container flex-display">
    <div #winningPercentage class="percentage-wrapper">
        <p>
            {{statisticsData.winPrediction * 100}}%
        </p>
    </div>
    <div #drawPercentage class="percentage-wrapper">
        <p>
            {{statisticsData.drawPrediction * 100}}%
        </p>
    </div>
    <div #lossPercentage class="percentage-wrapper">
        <p>
            {{statisticsData.lossPrediction * 100}}%
        </p>
    </div>
</div>