<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="container-wrapper">
        <header>
            <img src="./assets/images/undraw_login_re_4vu2.svg">
        </header>
        <div class="form-content">
            <h1 class="form-header-title default-font">Seja bem vindo de volta!</h1>
            <h2 class="form-header-sub-title default-font">Uma comunidade confiável, que te deixará informado 24 horas por dia.</h2>
            <form [formGroup]="form" >
                <div class="label default-font">Apelido</div>
                <input class="default-font" type="email" matInput formControlName="userName"
                    placeholder="Digite seu apelido">
                <div class="label">Senha</div>
                <input class="default-font" type="email" matInput formControlName="password"
                    placeholder="Digite sua senha">
            </form>
            <footer>
                <button class="default-font" type="submit" (click)="onSubmit()">ENTRAR</button>
                <a routerLink="/register">CADASTRE-SE</a>
            </footer>
        </div>
    </div>
</div>